workflow.json
{
  "name": "Voice Input Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "voice-input",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "d49b8310-505d-474c-b9c0-64102f0de0d3",
      "name": "Voice Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [432, 528],
      "webhookId": "voice-input-webhook"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "de"
        }
      },
      "id": "bd740ccf-cd99-46c5-bdf3-c4f78d19b3a7",
      "name": "Transcribe",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [656, 528],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Voice Webhook').item.json.body.mode }}",
                    "rightValue": "transkript",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "transcript"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Voice Webhook').item.json.body.mode }}",
                    "rightValue": "prompt",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "prompt"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Voice Webhook').item.json.body.mode }}",
                    "rightValue": "mail",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mail"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Voice Webhook').item.json.body.mode }}",
                    "rightValue": "analyse",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "analyse"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "cd0a5149-4020-45a7-a1b8-f5fceb9ce87a",
      "name": "Mode Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [880, 480]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=Correct the sentence structure and remove unnecessary filler words.\nExample:\n- Original text: \"I want that in the workflow only this adjustment is made for the format transcript.\"\n- Revised text: \"I want only this adjustment to be made in the workflow for the format transcript.\"\n\nRespond only with the revised text.\nHere is the user input:\n{{ $('Transcribe').item.json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6957ce3c-8c53-4107-a609-f989bcff3cc6",
      "name": "Format Transcript",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1104, 240],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a prompt generator for Claude Code. Transform the following transcript into a concise, clear prompt.\n\nIMPORTANT:\n- Respond ONLY with the finished prompt\n- Do NOT ask follow-up questions\n- Do NOT request additional information\n- Process the transcript as-is\n- Formulate instructions directly and unambiguously\n\nTranscript:\n{{ $('Transcribe').item.json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0ca74efa-caed-4f02-a316-00264c37920e",
      "name": "Format Prompt",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1104, 432],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a professional email formatter. Transform the following spoken transcript into a professional, well-formatted email.\n\nRULES:\n- Correct sentence structure and grammar\n- Remove all filler words (\"like\", \"um\", \"uh\", \"you know\", \"basically\", \"sort of\", \"kind of\", etc.)\n- Create clean line breaks between paragraphs\n- For lists: Use proper indentation and bullet points\n- Close the email with an appropriate greeting (e.g., \"Best regards\" or \"Kind regards\")\n- Do NOT ask follow-up questions\n- Generate a suitable, concise subject line based on the content\n\nRespond ONLY in the following JSON format (without markdown code block):\n{\"subject\": \"The generated subject\", \"body\": \"The formatted email text\"}\n\nTranscript:\n{{ $('Transcribe').item.json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-mail-node-001",
      "name": "Format Mail",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1104, 624],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a precise text analyst. Your task is to analyze the provided content according to the spoken instruction.\n\nIMPORTANT:\n- Respond ONLY with the analysis result\n- Do NOT ask follow-up questions\n- Do NOT request additional information\n- Perform the analysis exactly as described in the instruction\n- The result should be clearly structured and understandable\n- The user CANNOT create files - always return only text\n\nINSTRUCTION (Transcript):\n{{ $('Transcribe').item.json.text }}\n\nCONTENT TO ANALYZE:\n{{ $('Voice Webhook').item.json.body.attachment ? $('Voice Webhook').item.json.body.attachment : '' }}\n{{ $('Voice Webhook').item.json.body.analyseText ? $('Voice Webhook').item.json.body.analyseText : '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-analyse-node-001",
      "name": "Format Analyse",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1104, 816],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "connections": {
    "Voice Webhook": {
      "main": [
        [
          {
            "node": "Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe": {
      "main": [
        [
          {
            "node": "Mode Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mode Switch": {
      "main": [
        [
          {
            "node": "Format Transcript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Mail",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Analyse",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
